/* main */
* {
  font-family: "Inter", sans-serif;
}
body {
  background: linear-gradient(
    180deg,
    hsl(232, 19%, 15%) 10%,
    hsl(230, 17%, 14%) 11%
  );
  padding: 2% 2%;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.total {
  margin: -10px 0;
  padding: 10px 0;
  border-bottom: 2px solid hsl(229, 16%, 26%);
}
a {
  text-decoration: none;
}
p {
  font-size: 14px;
  font-weight: 700;
  color: hsl(228, 34%, 66%);
}

/* .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

/* switcher */
.theme-switch-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.mode {
  font-size: 14px;
  font-weight: 700;
  margin: 25px 0 30px 0;
}

.theme-switch {
  display: inline-block;
  height: 23px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: linear-gradient(45deg, #0083ff 5%, hsl(163, 72%, 41%) 50%);
  width: 50px;
  height: 20px;
  padding: 2px;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: 0.4s;
  right: 1px;
}

.slider:before {
  background-color: hsl(232, 19%, 15%);
  bottom: 2px;
  top: 1px;
  content: "";
  height: 22px;
  left: 3px;
  right: 2px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}

input:checked + .slider {
  background: linear-gradient(45deg, #0083ff 5%, hsl(163, 72%, 41%) 50%);
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: hsl(230, 22%, 74%);
}

.slider.round {
  border-radius: 20px;
  margin: 2px 5px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: hsl(230, 17%, 14%);
}

.card {
  background: hsl(228, 28%, 20%);
  text-align: center;
  border-radius: 5px;
  margin: 20px 2px;
}

a:hover {
  background-color: hsla(228, 34%, 66%, 10%);
}

.facebook {
  border-top: 4px solid hsl(208, 92%, 53%);
}

.twitter {
  border-top: 4px solid hsl(203, 89%, 53%);
}

.insta {
  border-top: 4px solid hsl(37, 97%, 70%);
  border-bottom: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
    1 stretch;
  border-radius: 5px 5px 0px 0px;
}

.youtube {
  border-top: 4px solid hsl(348, 97%, 39%);
}

img {
  margin: 12px 4px;
  padding: 4px;
  width: auto;
  height: 50%;
  vertical-align: middle;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
  vertical-align: middle;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 55px;
  margin: 0;
}

.followers {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
}

.rateup {
  color: hsl(163, 72%, 41%);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.ratedown {
  color: hsl(356, 69%, 56%);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.overview {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  margin: 50px 0 30px;
  display: block;
}
h2 {
  color: white;
  margin: 0;
  font-size: 35px;
}

.view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.tab {
  flex: 0 0 35%;
  text-align: right;
  margin: 0 20px;
  padding: 5px 0;
}
p .tab {
  justify-content: end;
}

.left {
  text-align: left;
  margin: 0 20px;
}
.rateup-view {
  color: hsl(163, 72%, 41%);
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 15px;
  margin: 0;
}

.ratedown-view {
  color: hsl(356, 69%, 56%);
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 15px;
  margin: 0;
}

.views {
  background: hsl(228, 28%, 20%);
  text-align: center;
  border-radius: 5px;
  margin: 20px 2px;
}

@media screen and (min-width: 375px) {
 .cards {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
   
  }

  .card {
    flex: 0 0 80px;
    padding: 0 80px;
    margin: 20px 20px;
  }

  .boards {
    display: flex;
    flex-wrap: wrap;
    float: left;
   justify-content: center;
    /* justify-content: space-between;  
    */
  }
 

  .views {
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    
    
  }
  
  .view {
    flex: 0 1 calc(20% - 1em);
   padding: 0 auto;
   
  }
} */ */ */

/* .view {
  display: inline-block;
  width: 50%;
  height: 50%;
} */
 /* .tab {
    flex: 0 0 90px;
    justify-content: space-between;
    text-align: right;
    margin: 0;
    padding: 0; 
  } */